body {
    background-color: darkgrey;
    margin: 0;
    padding: 0;
}

.To-Do-List {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 4rem;
    color: white;
}

.input-section {
    margin-bottom: 30px;
}

input[type="text"] {
    font-size: 1.6rem;
    padding: 10px;
    width: 320px;
    border: 2px solid rgb(108, 107, 107);
    border-radius: 5px;
    color: black;
    outline: none;
}

button {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 8px;
}


.add-button {
    background-color: rgb(18, 166, 18);
}
.add-button:hover {
    background-color: rgb(24, 190, 8);
}


.delete-button {
    background-color: rgb(122, 10, 10);
}
.delete-button:hover {
    background-color: rgb(150, 15, 15);
}


.move-button {
    background-color: rgb(10, 85, 122);
}
.move-button:hover {
    background-color: rgb(15, 110, 155);
}


ol {
    padding: 0;
    margin-top: 20px;
}

li {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 15px;
    background-color: rgb(108, 107, 107);
    margin-bottom: 10px;
    border: 3px solid rgb(90, 90, 90);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
    text-align: left;
}
